.jem-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;

	opacity: 0;
	pointer-events: none;
	transition: opacity 0.25s ease;
	z-index: 999999;
}

.jem-overlay.active {
	opacity: 1;
	pointer-events: all;
}

.jem-container {
	display: flex;
	flex-direction: column;
	margin: 8px;
	width: auto;
	height: auto;
	background: #334155;
	border-radius: 10px;
	max-width: 90vw;
	padding: 1.5rem;
	box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
	color: #000;
	z-index: 10000;
	pointer-events: auto;
}

.jem-tchart {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
}

.jem-sourceColumn, .jem-destColumn, .jem-metaColumn {
	justify-content: center;
	align-content: flex-start;
	width: 33vw;
	margin: 8px;
}

.jem-table {
	border-radius: 15px;
}

.jem-containerRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 8px;
}

.jem-vr {
	height: 100px;
	width: 4px;
	border: white;
	margin-left: 8px;
	margin-right: 8px;
}

.jem-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 8px;
}

.jem-table-container::-webkit-scrollbar {
	display: none;
}

.jem-buttonClose {
	aspect-ratio: 1/1;
	width: 32px;
	margin: 8px;
}

.jem-tableHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.jem-field, .jem-destAccountField {
	display: flex;
	justify-content: space-between;
}

.jem-label {
	font-family: Inter, sans-serif;
	font-weight: 500;
	margin-left: 8px;
	margin-right: 8px;
}

.jem-accountSelect {
	flex: 1
}

.jem-hr {
	width: 100%;
	margin: 2px;
}

.jem-description {
	height: 300px;
	width: 98%;
	text-align: left;
	margin: 8px;
	resize: vertical;
}

.jem-fileDrop {
	height: 150px;
	width: 98%;
	margin: 8px;
}

.jem-button {
	margin: 8px;
	height: 36px;
	width: 128px;
}

.jem-buttonClear {
	margin: 8px;
	height: 36px;
	width: 128px;

}

.jem-errorMessage {
	display: none;
	justify-content: center;
	color: red;
	font-weight: 500;
	font-size: 16px;
}
